<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="dataAccessAssemblyName" value="YOUR_PATH\IGI\BugTracker\SQLDal\bin\Debug\SQLDal.dll"/>
    <add key="dataAccessFactoryName" value="SQLDal.SQLFactory"/>
    <add key="dataSource" value="(local)\SQLExpress"/>
    <add key="dbname" value="bugtracker"/>
  </appSettings>
</configuration>