{% extends "base.html" %}
{% load static %}
{% block head %}
    <title>Завершение регистрации</title>
{% endblock %}

{% block content %}

    <div class="register-complete-page container">
        <div class="page-header">
            <h1 id="dialogs">Завершение регистрации</h1>
        </div>

        <div>
            <p class="lead">
                На указанный Вами e-mail было выслано письмо с дальнейшими инструкциями.
                Для завершения процесса регистрации и активации аккаунта, пожалуйста,
                перейдите по ссылке, указанной в письме.
            </p>
        </div>
    </div>

{% endblock %}