<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>XsltFilter</filter-name>
        <filter-class>com.lab8.filters.XsltFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>XsltFilter</filter-name>
        <url-pattern>/output/html</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>ViewBugs</servlet-name>
        <servlet-class>com.lab8.servlets.View</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewReporter</servlet-name>
        <servlet-class>com.lab8.servlets.ViewReporter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewTask</servlet-name>
        <servlet-class>com.lab8.servlets.ViewTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditReporter</servlet-name>
        <servlet-class>com.lab8.servlets.EditReporter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditTask</servlet-name>
        <servlet-class>com.lab8.servlets.EditTask</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewBugs</servlet-name>
        <url-pattern>/ViewBugs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewReporter</servlet-name>
        <url-pattern>/ViewReporter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewTask</servlet-name>
        <url-pattern>/ViewTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditReporter</servlet-name>
        <url-pattern>/EditReporter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditTask</servlet-name>
        <url-pattern>/EditTask</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
