    <div id="editprojectdiv"><h3>Edit project</h3>
    <table>
        <tr><td><label>Name: </label></td><td><input type="text" id="projName" /></td></tr>
        <tr><td><label>Description: </label></td><td><input type="text" id="projDescription" /></td></tr>
    </table>
    <button id="EditProject">Save</button>
    </div>
    <div id="edittaskdiv"><h3>New task</h3>
    <table>
        <tr><td><label>Description: </label></td><td><input type="text" id="editDescription" /></td></tr>
    </table>
    <button id="CreateTask">Save</button>
    </div>